@mixin retina-image($filename, $extension, $width, $height) {
  background-image: url($filename + '.' + $extension);
  height: $height;
  width: $width;

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url($filename + '@2x.' + $extension);
    background-size: $width $height;
  }
}

@mixin input-placeholder {
  &::-webkit-input-placeholder { @content };
  &:-ms-input-placeholder { @content };
  &::-moz-placeholder { @content };
  &:-moz-placeholder { @content };
  &::placeholder { @content };
}
