.search-navigation-bar {
  border-bottom: 2px solid $cerisered;
  display: flex;
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 300;
  padding: 0 0 15px;
  text-transform: uppercase;
}
