<div id="owl-demo" class="owl-carousel owl-theme">
  <div><img src="http://res.cloudinary.com/dzgzfvmus/image/upload/v1507588491/hero1_home_1440_kjng3c.jpg"></div>
  <div><img src="http://res.cloudinary.com/dzgzfvmus/image/upload/v1507588464/hero2_home_1440_uzdcuz.jpg"></div>
</div>
