<div class="search-navigation-bar">
  <form action="#" class="search-form">
    <button class="search-submit" type="submit"></button>
    <input type="text" placeholder="search" name="keyword">
  </form>
  <ul class="session-menu">
    <li><a href="#">create account</a></li>
    <li><a href="#">log in</a></li>
    <li><a href="#">cart</a></li>
  </ul>
</div>
